@use "sass:map";
@use "sass:color";
@use "./mixins" as m;
@use "./variables" as v;
@use "./header";
@use "./homehero";
@use "./homeservices";
@use "./product";
@use "./homenewarrivals";
@use "./dealsoftheday";
@use "./homebestsellers";
@use "./homegroupproducts";
@use "./homevendorbanner";
@use "./homefeatures";
@use "./footer";
@use "./productslist";
@use "./productdetail";
@use "./toast";
@use "./cart";
@use "./checkout";
@use "./login";
@use "./about";
@use "./becomevendor";
@use "./newarrivals";
@use "./dealsoftheday_page";
@use "./bestsellers";
@use "./blogs";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include m.siteMain;
  letter-spacing: 0.15px;
  overflow-x: hidden;
}

img,
svg {
  max-width: 100%;
  height: auto;
}